In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv(r"../Dataset/Advertising.csv")

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
X=df.drop('sales', axis= 1)
y=df.sales

In [5]:
from sklearn.preprocessing import PolynomialFeatures
poly= PolynomialFeatures(degree=3,include_bias=False)
poly_features=poly.fit_transform(X)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.3, random_state=101)

In [7]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test= scaler.transform(X_test)

In [8]:
from sklearn.linear_model import ElasticNetCV
elastic_model = ElasticNetCV(l1_ratio=[.1, .5, .7, .9, .95, .99, 1],eps=0.001,n_alphas=100,cv=5,max_iter=100000)
elastic_model.fit(X_train,y_train)
y_pred = elastic_model.predict(X_test)

In [9]:
elastic_model.l1_ratio_

1.0

In [10]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
MAE = mean_absolute_error(y_test,y_pred)
MSE = mean_squared_error(y_test,y_pred)
RMSE = np.sqrt(MSE)
R2=r2_score(y_test,y_pred)

In [11]:
print('MAE = ', MAE)
print('MSE = ', MSE)
print('RMSE = ', RMSE)
print('R2 = ',R2)

MAE =  0.4335034618590072
MSE =  0.3676167574199061
RMSE =  0.6063140748984029
R2 =  0.9869787962811952